<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <% if (page === 'login' || page === 'register') { %>
      <link rel="stylesheet" href="/css/login.css" />
    <% } else if (page === 'home') { %>
      <link rel="stylesheet" href="/css/home.css" />
    <% } %>
    <link rel="shortcut icon" href="/img/logo_jordan.png" type="image/x-icon" />
    <title>Jordan Class - Home</title>
  </head>
  <body>