<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>
<main>
  <section
    class="container my-5"
    style="max-width: 400px"
    aria-labelledby="titulo-register"
  >
    <h2 id="titulo-register" class="mb-4 text-center">register</h2>
    <form class="needs-validation" id="registerForm" novalidate>
      <div class="mb-3">
        <label for="registerUser" class="form-label">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="registerUser"
          name="nome"
          placeholder="Seu nome de usuário"
          required
          autocomplete="username"
          inputmode="text"
        />
        <div class="invalid-feedback">Por favor, insira um usuário válido.</div>
      </div>

      <div class="mb-3">
        <label for="registerEmail" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="registerEmail"
          name="email"
          placeholder="Seu e-mail"
          required
          autocomplete="email"
          inputmode="email"
        />
        <div class="invalid-feedback">Por favor, insira um e-mail válido.</div>
      </div>

      <div class="mb-3">
        <label for="registerPassword" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="registerPassword"
          name="senha"
          placeholder="Sua senha"
          required
          autocomplete="current-password"
          minlength="5"
          inputmode="text"
        />
        <div class="invalid-feedback">
          Por favor, insira sua senha (mínimo 5 caracteres).
        </div>
      </div>

      <button class="btn btn-warning w-100" type="submit">Entrar</button>
    </form>
  </section>
</main>
<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include ('partials/footer.ejs') %>
