<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>
<main>
  <section
    class="container my-5"
    style="max-width: 400px"
    aria-labelledby="titulo-login"
  >
    <h2 id="titulo-login" class="mb-4 text-center">Login</h2>
    <form class="needs-validation" id="loginForm" novalidate>
      <div class="mb-3">
        <label for="loginEmail" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="loginEmail"
          name="email"
          placeholder="Seu e-mail"
          required
          autocomplete="email"
          inputmode="email"
        />
        <div class="invalid-feedback">Por favor, insira um e-mail válido.</div>
      </div>

      <div class="mb-3">
        <label for="loginPassword" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="loginPassword"
          name="senha"
          placeholder="Sua senha"
          required
          autocomplete="current-password"
          minlength="5"
          inputmode="text"
        />
        <div class="invalid-feedback">
          Por favor, insira sua senha (mínimo 5 caracteres).
        </div>
      </div>

      <div class="mb-3">
        <label>Não tem uma conta? <a href="/register">Cadastre-se</a></label>
      </div>

      <button class="btn btn-warning w-100" type="submit">Entrar</button>
    </form>
  </section>
</main>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include ('partials/footer.ejs') %>
